@model ViewModels.AdminViewModels.ProductCategories.CreateViewModel

@section Styles
	{
	<link rel="stylesheet" type="text/css" href="~/admin/app-assets/css-rtl/core/colors/palette-gradient.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
	<div class="row">
		<form asp-area="Admin" asp-controller="ProductCategory" asp-action="Create" class="col-md-12 d-flex" method="Post">
			<div asp-validation-summary="ModelOnly"></div>
			@*Product Category*@
			<div class="col-md-4">
				<div class="form-group">
					<label>انتخاب دسته بندی محصولات :</label>
					<input type="text" asp-for="Title" placeholder="@Html.DisplayNameFor(m=>m.Title)" required class="form-control" />
					<span asp-validation-for="Title" class="text-danger fontsize14"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<button class="btn btn-success" style="margin-top:30px;" type="submit">ثبت</button>
				</div>
			</div>
		</form>
	</div>
	<hr />
