@model IEnumerable<ViewModels.Banner.IndexViewModel>

<section class="mb-4  mb-lg-5 pb-lg-4 pb-xl-5 mt-5">
    <div class="container container-2xl">
        <div class="row baner-site one">
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="wow rubberBand col-12 col-sm-6 col-lg-4 col-xl-3 item-baner" data-wow-duration="2s">
                        <div class="box-baner">
                            <a href="@item.Url">
                                <img class="img-fluid" src="~/emoniFiles/Banners/@(item.ImageBannerName)" alt="@(item.ImageBannerName)" />
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>