@model ViewModels.Accounts.UserLoginViewModel

<form asp-controller="Account" asp-action="LoginUser" method="Post">
    <div asp-validation-summary="ModelOnly"></div>

    <input type="hidden" asp-for="ReturnUrl" />

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="text-danger">
            @ViewData["ErrorMessage"]
        </div>
    }

    <div class="form-group">
        <label asp-for="Username">
            @Resources.Tables.User.EmailAddress
            <span class="text-danger ">
                *
            </span>
        </label>
        <input asp-for="Username" type="email" class="form-control">
        <span asp-validation-for="Username" class="text-danger fontSize14"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Password">
            @Resources.Tables.User.Password
            <span class="text-danger ">
                *
            </span>
        </label>
        <input asp-for="Password" type="password" id="password" class="form-control input-password" required />
        <span asp-validation-for="Password" class="text-danger fontSize14"></span>
        <br />
        <span class="icon-eye-password" id="basic-addon2">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </span>
    </div>
    <div class="d-sm-flex justify-content-between">
        <div class="form-check form-check-custom ">
            <label asp-for="RememberMe" class="checkbox-container">
                @Resources.Tables.User.RememberMe
                <input asp-for="RememberMe" type="checkbox" style="display: none;">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="forget_password mt-2">
            <a asp-controller="Account" asp-action="ForgotPassword">
                رمز عبور را فراموش کرده اید؟
            </a>
        </div>
    </div>
    <div class="btn-from-login">
        <button type="submit" class="btn-animate1 mt-4">
            ورود
        </button>
    </div>

    <div class="form-note mt-4">
        حساب کاربری ندارید؟
        <a asp-controller="Account" asp-action="Register">
            ثبت نام کنید
        </a>
    </div>
</form>
