<main class="content">
	<section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="area-content-P404 d-flex justify-content-center flex-column align-items-center">
						<h1 class="mb-3 d-flex justify-content-center align-items-center flex-column">
							<img class="img-fluid" src="~/assets/img/404.png">
						</h1>
						<h2 class="title404 mb-2">اوه صفحه پیدا نشد!</h2>
						<p class="mb-4 text-center"> به نظر می رسد ما نمی توانیم صفحه مورد نظر را پیدا کنیم.</p>
						<div class="area-btn-404">
							<a asp-controller="Home" asp-action="Index" class="btn-animate1">
								برگشت به صفحه اصلی
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>