@model ViewModels.Accounts.LoginViewModel

@{
    Layout = "~/Views/Shared/Layout/_Account.cshtml";

    
    var userLogin = new ViewModels.Accounts.UserLoginViewModel()
    {
        ReturnUrl = Model.ReturnUrl,
    };
}

<main class="content">
    <section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="multi-step-login col-sm-10 col-md-9 col-lg-8  col-xl-6">
                    <div class="login login-register-wrap">
                        <div class="area-form-login area-form-login-register p-3 p-sm-4 p-md-5 ">
                            <!-- **************************************************-->
                            <!-- **************************************************-->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                                        ورود کاربران
                                    </button>
                                </li>
                            </ul>
                            <!-- **************************************************-->
                            <!-- **************************************************-->
                            <form asp-controller="Account" asp-action="Login" method="Post">
                                <div asp-validation-summary="ModelOnly"></div>

                                <input type="hidden" asp-for="ReturnUrl" />

                                @if (ViewData["ErrorMessage"] != null)
                                {
                                    <div class="text-danger">
                                        @ViewData["ErrorMessage"]
                                    </div>
                                }

                                <div class="form-group">
                                    <label asp-for="UserName">
                                        نام کاربری
                                        <span class="text-danger ">
                                            *
                                        </span>
                                    </label>
                                    <input asp-for="UserName" type="text" class="form-control">
                                    <span asp-validation-for="UserName" class="text-danger fontSize14"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="Password">
                                        @Resources.Tables.User.Password
                                        <span class="text-danger ">
                                            *
                                        </span>
                                    </label>
                                    <input asp-for="Password" type="password" id="password" class="form-control input-password" required />
                                    <span asp-validation-for="Password" class="text-danger fontSize14"></span>
                                    <br />
                                    <span class="icon-eye-password" id="basic-addon2">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div class="d-sm-flex justify-content-between">
                                    <div class="form-check form-check-custom ">
                                        <label asp-for="RememberMe" class="checkbox-container">
                                            @Resources.Tables.User.RememberMe
                                            <input asp-for="RememberMe" type="checkbox" style="display: none;">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="forget_password mt-2">
                                        <a asp-controller="Account" asp-action="ForgotPassword">
                                            رمز عبور را فراموش کرده اید؟
                                        </a>
                                    </div>
                                </div>
                                <div class="btn-from-login">
                                    <button type="submit" class="btn-animate1 mt-4">
                                        ورود
                                    </button>
                                </div>

                                <div class="form-note mt-4">
                                    حساب کاربری ندارید؟
                                    <a asp-controller="Account" asp-action="Register">
                                        ثبت نام کنید
                                    </a>
                                </div>
                            </form>
                            <!-- **************************************************-->
                            <!-- **************************************************-->
                            <div class="footer-login">
                                <div class="area-socialIcon socialIcon-bg-secondary d-flex justify-content-center">
                                    <a href="http://www.facebook.com" class="icon facebook">
                                        <span class="tooltip-site">Facebook</span>
                                    </a>
                                    <a href="http://www.github.com" class="icon instegram">
                                        <span class="tooltip-site">instegram</span>
                                    </a>
                                    <a href="http://www.dribble.com" class="icon linkedin">
                                        <span class="tooltip-site">linkedin</span>
                                    </a>
                                    <a href="http://www.twitter.com" class="icon twitter">
                                        <span class="tooltip-site">Twitter</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts
    {
    @*	<partial name="~/Views/Shared/PartialViews/Account/_CaptchaScripts.cshtml" />*@

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

