@model ViewModels.Accounts.RecoveryCodeViewModel

<main class="forget-pasword align-items-center justify-content-center">
    <section class="login">
        <div class="container">
            <div class="row justify-content-center">
                <div class="multi-step-login col col-md-9 col-lg-8 col-xl-6 mt-3">
                    <div class="login login-register-wrap">
                        <div class="area-form-login area-form-login-register p-3 p-sm-4 p-md-5 ">
                            <div class="header-login">
                                <img src="./img/logo (1).png" alt="">
                            </div>
                            <form asp-controller="Account" asp-action="RecoveryCode" method="Post">
                                <div asp-validation-summary="ModelOnly"></div>
                                <input type="hidden" asp-for="PhoneNumber" />
                                <input type="hidden" asp-for="UserId" />
                                @*One "tab" for each step in the form*@
                                <div class="tab">
                                    <h3>
                                        کد تایید را وارد کنید
                                    </h3>
                                    <label>
                                        کد تایید برای شماره تلفن @Model.PhoneNumber ارسال گردید
                                    </label>
                                    <input asp-for="VerificationCode" type="number" placeholder="@Html.DisplayNameFor(m => m.VerificationCode)" class="form-control" required>
                                    <span asp-validation-for="VerificationCode" class="text-danger fontSize14"></span>
                                    <div class="countdown">
                                        <div class="btn btn-light countdown__time" style="display:block;"></div>
                                        <a asp-action="ResendCode" asp-controller="Account" asp-route-userId="@Model.UserId" class="btn btn-light countdown__reset mt-3">
                                            دریافت مجدد کدد
                                        </a>
                                        <div class="loader"></div>
                                    </div>
                                </div>
                                <div style="overflow:auto;text-align: center;align-items: center;">
                                    <div style="align-items: center;justify-content: center;display: flex;">
                                        <button type="submit" class="btn-multi-step" id="nextBtn">
                                            ثبت
                                        </button>
                                        <button type="button" class="btn-multi-step-prev" id="prevBtn" onclick="nextPrev(-1)">
                                            بازگشت
                                        </button>
                                    </div>
                                </div>
                                <div style="text-align:center;margin-top:40px;">
                                    <span class="step"></span>
                                    <span class="step"></span>
                                    <span class="step"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>