@model ViewModels.Accounts.ResetPasswordViewModel

@{
    ViewBag.Title = "تعریف مجدد رمز عبور";

    Layout = "~/Views/Shared/Layouts/_Account.cshtml";
}

<div class="login-holder">
    <div class="logo-holder">
        <img src="~/account/images/logo.png" alt="فیدار افزار">
    </div>
    <div class="login-box">
        <div class="login-title">
            بازیابی رمز عبور
        </div>
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly"></div>

@*            <input hidden="" asp-for="Token" />*@
            <input hidden="" asp-for="EmailAddress" />

            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="text-danger">
                    @ViewData["ErrorMessage"]
                </div>
            }

            <div class="input-holder">
                <input type="password" asp-for="Password" class="form-control" required placeholder="@Html.DisplayNameFor(m=>m.Password)">
                <div class="help-block with-errors text-danger">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="input-holder">
                <input type="password" asp-for="RePassword" class="form-control" required placeholder="@Html.DisplayNameFor(m=>m.RePassword)">
                <div class="help-block with-errors text-danger">
                    <span asp-validation-for="RePassword"></span>
                </div>
            </div>
            <div id="msgSubmit" class="h3 text-center hidden">
            </div>
            <div class="btn-holder">
                <button type="submit" class="btn btn-primary">
                    ارسال
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}