@model IEnumerable<ViewModels.ProductCategories.ProductCategoriesNavbarViewModel>


<li class="container-mega-menu">
	<a>
		محصولات
		<i class="fa fa-angle-down" aria-hidden="true"></i>
	</a>
	@if (ViewBag.ImageName != null)
	{
		<div class="serv-megamenu serv-megamenu-Style1" style="background-image: url('/EmoniFiles/Images/@(ViewBag.ImageName)')">
			<div class="row">
				@foreach (var item in Model)
				{
					<a class="title_megamenu text-center" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(item.Id)">
						@(item.Title)
					</a>
				}
			</div>
		</div>


	}
	else
	{
		<div class="serv-megamenu serv-megamenu-Style1" style="background:#fff;">
			<div class="row">
				@foreach (var item in Model)
				{
					<a class="title_megamenu text-center" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(item.Id)">
						@(item.Title)
					</a>
				}
			</div>
		</div>
	}
</li>
