@model ViewModels.Contacts.IndexViewModel

<!-- page title -->
<section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
	<div class="container container-4xl">
		@await Component.InvokeAsync(name:"BreadCrumbsComponent")
		<h1 class="text-center mb-3">
			تماس با ما
		</h1>
		<nav aria-label="breadcrumb" class="mb-4 mb-lg-3">
			<ol class="breadcrumb breadcrumb-singleProduct ">
				<li class="breadcrumb-item">
					<a asp-controller="Home" asp-action="Index">
						خانه
					</a>
				</li>
				<li class="breadcrumb-item active">
					تماس با ما
				</li>
			</ol>
		</nav>
	</div>
	</div>
</section>
<main class="content">
	<section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
		<div class="container container-4xl">
			<div class="row">
				<div class="col-12 col-md-4">
					<div class="area-information-contact">
						<div class="item-info-contact ">
							<div class="title-info-contact">
								<h2>
									<i class="fad fa-home me-2">

									</i>
									آدرس ما
								</h2>
							</div>
							<div class="text-info-contact">
								<p class="mb-0">
									آدرس : تهران کارگرشمالی بالاتر از جلال آل احمد روبه روی دانشکده تربیت بدنی
									دانشگاه تهران پلاک 1462
								</p>
							</div>
						</div>

						<div class="item-info-contact ">
							<div class="title-info-contact">
								<h2>
									<i class="fad fa-phone-alt me-2">
									</i>
									شماره تلفن
								</h2>
							</div>
							<div class="text-info-contact">
								<p class="mb-0">
									شرکت :
									40883296
								</p>
								<p class="mb-0">
									کارخانه :
									40883825
								</p>
							</div>
						</div>
						<div class="item-info-contact">
							<div class="title-info-contact">
								<h2>
									<i class="fad fa-envelope me-2">

									</i>
									ایمیل
								</h2>
							</div>
							<div class="text-info-contact">
								<p class="mb-0">
									info@emonicosmetic.com
								</p>
							</div>
						</div>
						<div class="item-info-contact border-bottom-0">
							<div class="title-info-contact mb-3">
								<h2>
									ما را در شبکه های اجتماعی دنبال کنید
								</h2>
							</div>
							<div class="area-socialIcon d-flex ">
								<a href="http://www.facebook.com" class="icon facebook">
									<span class="tooltip-site">Facebook</span>
								</a>
								<a href="http://www.github.com" class="icon instegram">
									<span class="tooltip-site">instegram</span>
								</a>
								<a href="http://www.dribble.com" class="icon linkedin">
									<span class="tooltip-site">linkedin</span>
								</a>
								<a href="http://www.twitter.com" class="icon twitter">
									<span class="tooltip-site">Twitter</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-8">
					<div class="area-form-wrap contact mb-5 mb-lg-0">
						<div class="area-form-contact2">
							<h3 class="h4 mb-4 title-contact">تماس با ما</h3>
							<form class="row" asp-controller="Contacts" asp-action="Create" method="post">
								<div asp-validation-summary="ModelOnly"></div>
								<div class="form-group mb-4 col-12 col-md-6">
									<input type="text" asp-for="FullName" class="form-control" placeholder="نام را وارد کنید *" />
									<span asp-validation-for="FullName" class="text-danger"></span>
								</div>
								<div class="form-group mb-4 col-12 col-md-6">
									<input type="email" asp-for="Email" class="form-control" placeholder="ایمیل را وارد کنید *" />
									<span asp-validation-for="Email" class="text-danger"></span>
								</div>
								<div class="form-group mb-4 col-12 col-md-6">
									<input type="text" asp-for="PhoneNumber" class="form-control" placeholder="شماره تلفن را وارد کنید *" />
									<span asp-validation-for="PhoneNumber" class="text-danger"></span>
								</div>
								<div class="form-group mb-4 col-12 col-md-6">
									<input type="text" asp-for="Issue" class="form-control" placeholder="موضوع را وارد کنید" />
									<span asp-validation-for="Issue" class="text-danger"></span>
								</div>
								<div class="form-group mb-4 col-12">
									<textarea class="form-control" asp-for="Message" rows="8" placeholder="نظر شما *" ></textarea>
									<span asp-validation-for="Message" class="text-danger"></span>
								</div>
								<div class="form-group mb-4 col-12">
									<div class="btn-from-login">
										<button type="submit" class="btn-animate1 mt-4">
											ارسال
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

@section Footer
{
	<partial name="~/Views/Shared/PartialViews/Default/_Footer.cshtml" />
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Areas/Admin/Views/Shared/_ValidationScriptsPartial.cshtml");
    }
}