<section class="mb-5">
    <div class=" container container-4xl">
        <div class="area-sale-cover d-flex align-items-center">
            <div class="wow zoomInDown content-sale-cover" data-wow-duration="2s">
                <h2 class="mb-4 mb-md-5">BUILD YOUR CONFIDENCE</h2>
                <h2 class="mb-4 mb-md-5">BUILD YOUR JUVENILITY</h2>
                <h2 class="mb-4 mb-md-5">BUILD YOUR BEAUTY</h2>
            </div>
        </div>
    </div>
</section>