


<section class="mb-4  mb-lg-5 pb-lg-4 pb-xl-5 mt-5">
    <div class="container">
        <div class="row baner-site one">
            <div class="wow rubberBand col-12 col-sm-6 col-lg-4 col-xl-3 item-baner" data-wow-duration="2s">
                <div class="box-baner">
                    <a href="shop-left-sidebar.html">
                        <img class="img-fluid" src="~/assets/img/img101.jpg" alt="بنر سایت" />
                    </a>
                </div>
            </div>
            <div class="wow flipInX col-12 col-sm-6 col-lg-4 col-xl-3 item-baner" data-wow-duration="2s">
                <div class="box-baner">
                    <a href="shop-left-sidebar.html">
                        <img class="img-fluid" src="~/assets/img/img102.jpg" alt="بنر سایت" />
                    </a>
                </div>
            </div>
            <div class="wow flipInX col-12 col-sm-6 col-lg-4 col-xl-3 item-baner" data-wow-duration="2s">
                <div class="box-baner">
                    <a href="shop-left-sidebar.html">
                        <img class="img-fluid"  src="~/assets/img/img103.jpg" alt="بنر سایت" />
                    </a>
                </div>
            </div>
            <div class="wow rubberBand col-12 col-sm-6 col-lg-4 col-xl-3 item-baner d-lg-none d-xl-block"
                 data-wow-duration="2s">
                <div class="box-baner">
                    <a href="shop-left-sidebar.html">
                        <img class="img-fluid" src="~/assets/img/img104.jpg" alt="بنر سایت" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>