<footer class="area-footer">
    <div class="area-content-footer">
        <div class="container container-4xl">
            <div class="row">
                <div class="wow slideInRight col-sm-12 col-lg-4 col-md-4 mb-4">
                    <div class="widget_footer">
                        <div class="title_widget_footer">
                            تماس با ما
                        </div>
                        <div class="contenet_widget_footer">
                            <ul class="mb-3">
                                <li>
                                    <span>
                                        آدرس : تهران کارگرشمالی بالاتر از جلال آل احمد روبه روی دانشکده تربیت بدنی
                                        دانشگاه تهران پلاک 1462
                                    </span>
                                </li>
                                <li>
                                    <span> شماره تماس: 40883296</span>
                                </li>
                                <li>
                                    <span> ایمیل: info@emonicosmetic.com</span>
                                </li>
                            </ul>

                            <div class="area-socialIcon d-flex ">
                                <a href="http://emoni.ir/" class="icon instegram">
                                    <span class="tooltip-site">instegram</span>
                                </a>
                                <a href="http://www.dribble.com" class="icon linkedin">
                                    <span class="tooltip-site">linkedin</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wow slideInUp col-sm-12 col-lg-4 col-md-4 mb-4">
                    <div class="widget_footer">
                        <div class="title_widget_footer">
                            دسترسی سریع
                        </div>
                        <div class="contenet_widget_footer">
                            <ul>
                                <li>
                                    <a asp-controller="Blogs" asp-action="BlogsList">
                                       مقالات
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Consultation" asp-action="Index">
                                        مشاوره تخصصی
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="About" asp-action="Index">
                                        درباره ما
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Contacts" asp-action="Index">
                                        تماس با ما
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="wow slideInLeft col-sm-12 col-lg-4 col-md-4 mb-4">
                    <div class="widget_footer">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.8483130007294!2d51.38445871526021!3d35.72994888018291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x31f38d1214a0ff95!2zMzXCsDQzJzQ3LjgiTiA1McKwMjMnMTEuOSJF!5e0!3m2!1sen!2s!4v1662971584747!5m2!1sen!2s" width="500px" height="300px" style="border:0;border-radius: 8px;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="area-copyright py-4 ">
        <div class="container">
            <div class="row justify-content-between align-items-center ">
                <div class="col-12 col-sm-6">
                    <div class="copyright">
                        تمامی حقوق سایت محفوظ است
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="footer-logo">
                        <img src="~/assets/img/namad-anjam-midam.png" alt="" class="logo-enama">
                        <img src="~/assets/img/kasbokar.png" alt="" class="logo-enama">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>