<section class="mb-2 mb-md-3  mb-lg-4 mb-xl-5">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <h2 class="wow fadeInUp title-site">
                محصولات جدید emoni
                <span>
                    محصولات جدید emoni
                </span>
            </h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme slider_product2">

                    <div class="wow bounceIn item_slider_product-new" data-wow-duration="2s">
                        <div class="product_cart">
                            if(hasdiscount)
                            {
                                <div class="off">
                                <span>
                                    30% تخفیف
                                </span>
                            </div>
                            }
                            <a href="#" class="link-wishlist-icon"><i class="fal fa-heart"></i></a>
                            <div class="cart-img-product mb-3">
                                <a href="#">
                                    <div class="d-flex justify-content-center align-items-center h-100">
                                        <img src="./assets/img/img1.jpg" class="img1-product img-fluid" />
                                    </div>
                                </a>
                                <div class="area-button-view-product">
                                    <a href="shop-product-detail.html" class="button-view-product">
                                        مشاهده محصول
                                    </a>
                                    <a href="#" class="add-to-cart">
                                        +
                                    </a>
                                </div>
                            </div>
                            <div class="content_product text-center">
                                if(hasdiscount){
                                <div class="price_card_product mb-2">
                                    <del class="me-1">
                                        130000
                                    </del>
                                    120000
                                    تومان
                                </div>
                                }
                                else{
                                    <div class="price_card_product mb-2">
                                    120000
                                    تومان
                                </div>
                                }
                                <a href="#">
                                    <h3 class="title-product mb-2">
                                        عنوان محصول
                                    </h3>
                                </a>
                                <div class="star_rating">
                                    <span class="star-icon star-icon-active">
                                        <i class="far fa-star"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>