<section class="mb-5 ">
    <div class="owl-carousel slider_baner-homepage" id="slider_header">


        <div class="item_slider-baner-homepage slider-baner-image1">
            <div class="content-slider ">
                <h2 class=""> محصولات ضد چروک</h2>
                <p class="description-slider d-none d-sm-block">
                    Emoni
                </p>
            </div>
        </div>


    </div>
</section>