@model IEnumerable<ViewModels.ProductCategories.ProductCategoriesNavbarViewModel>

@{
	ViewModels.AdminViewModels.Users.UserViewModel? foundedOnlineUser =
		ViewData["foundedOnlineUser"] as ViewModels.AdminViewModels.Users.UserViewModel;
}

<!-- navbar -->
<nav class="serv-navbar">
	<div class="container">
		<div class="row" style="position: relative;">
			<!-- Logo -->
			<div class="col-4 col-lg-2 order-2 order-lg-1 d-flex justify-content-center justify-content-lg-start">
				<div class="area-logo">
					<a asp-controller="Home" asp-action="Index">
						<img src="~/assets/img/Fidar-purple.png" style="width:40%;" />
					</a>
				</div>
			</div>

			<div class="col-4 col-lg-8 order-1 order-lg-2 d-flex align-items-center col-main_menu">
				<div class="main_menu h-100 d-none d-lg-block">

					<!-- Desktop Menu -->
					<ul class="d-flex h-100 align-items-center ">
						<!-- Home -->
						<li>
							<a asp-controller="Home" asp-action="Index">
								خانه
							</a>
						</li>

						<!-- Products -->
						<partial name="~/Views/Navbars/PartialView/_DesktopNavbar.cshtml" model="@Model" />

						<!-- About -->
						<li>
							<a asp-controller="About" asp-action="Index">
								درباره ما
							</a>
						</li>

					</ul>
				</div>

				<!-- Mobile Menu -->
				<partial name="~/Views/Navbars/PartialView/_MobileNavbar.cshtml" model="@Model" />
			</div>
			<!-- Order Details-->
			<partial name="~/Views/Navbars/PartialView/_OrderDetails.cshtml" />
		</div>
	</div>
</nav>
<!-- navbar -->
