<div class="modal fade" id="create-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body2">
                <div class="area-form-wrap-modal contact mb-5 mb-lg-0">
                    <div class="area-form-contact">
                        <h3 class="h4 mb-4 title-contact"
                            style="text-align: center;">
                            آدرس جدید
                        </h3>
                        <div class="row">
                            @*Country*@
                            <div class="form-group-modal mb-4 col-12 col-md-6">
                                <label for="Country">
                                    کشور:
                                </label>
                                <input type="text" id="Country" class="form-control" placeholder="استان را وارد کنید" required />
                                <span validation-for="Country" class="text-danger"></span>
                            </div>
                            @*State*@
                            <div class="form-group-modal mb-4 col-12 col-md-6">
                                <label for="State">
                                    استان:
                                </label>
                                <input type="text" id="State" class="form-control" placeholder="استان را وارد کنید" required />
                                <span validation-for="State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            @*City*@
                            <div class="form-group-modal mb-4 col-12 col-md-6">
                                <label for="City">
                                    شهر:
                                </label>
                                <input type="text" id="City" class="form-control" placeholder="شهر را وارد کنید" required />
                                <span validation-for="City" class="text-danger"></span>
                            </div>
                            @*ZipCode*@
                            <div class="form-group-modal mb-4 col-12 col-md-6">
                                <label for="ZipCode">
                                    کدپستی:
                                </label>
                                <input type="number" id="ZipCode" class="form-control" placeholder="کد پستی را وارد کنید" required />
                                <span validation-for="ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            @*UserAddress*@
                            <div class="form-group-modal mb-4 col-12">
                                <label for="UserAddress">
                                    آدرس:
                                </label>
                                <textarea class="form-control" id="UserAddress" rows="8" placeholder="آدرس را وارد کنید" style="font-size: 12px;" required> </textarea>
                                <span validation-for="UserAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group-modal-modal-modal-modal-modal-modal-modal-modal-modal mb-4 col-12">
                            <div class="btn-from-login">
                                <button onclick="RegisterCreate()" type="submit" class="btn-animate1 btn-multi-step mt-4">
                                    ثبت
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>