<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="question-image">
					<img src="~/assets/img/Consultation.jpg" alt="Consultation">
					<div class="title">
						<h1 class="title-header">
							آیا پوست خودرا میشناسید؟
						</h1>
						<p class="title-body">
							مابه شما کمک می­کنیم تا مناسب ترین محصولات را برای مراقبت تخصصی از پوست خود بیابید
						</p>
						<a asp-controller="Consultation" asp-action="SkinQuiz">
							<h3 class="title-footer">
								جزئیات بیشتر
							</h3>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

