@model ViewModels.AdminViewModels.Sliders.CreateViewModel

@section Styles
{
    <link rel="stylesheet" href="~/admin/assets/css/uploadFile.css" />
}

    <div class="app-content content">
        <div class="content-wrapper pb-0">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-right col-md-8 col-12">
                    <div class="breadcrumbs-top">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                                        خانه
                                    </a>
                                </li>
                                <li class="breadcrumb-item ">
                                    <a asp-area="Admin" asp-controller="Slider" asp-action="Index">
                                        مدیریت اسلایدر
                                    </a>
                                </li>
                                <li class="breadcrumb-item active ">
                                    اضافه کردن اسلایدر
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="basic-form-layouts">
                    <div class="row match-height">
                        <div class="col-md-12">
                            <div class="card mb-0">
                                <div class="card-header">
                                    <h4 class="card-title" id="basic-layout-form">اضافه کردن اسلایدر</h4>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i>
                                    </a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li>
                                                <a data-action="collapse">
                                                    <i class="ft-minus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-action="reload">
                                                    <i class="ft-rotate-cw"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-action="expand">
                                                    <i class="ft-maximize"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-action="close">
                                                    <i class="ft-x"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <form class="needs-validation" asp-area="Admin" asp-controller="Slider" asp-action="Create" enctype="multipart/form-data" method="Post">
                                            <div asp-validation-summary="ModelOnly"></div>

                                            <div class="form-body">

                                                <h4 class="form-section">
                                                    <i class="ft-file-text"></i>
                                                    اطلاعات اسلایدر
                                                </h4>

                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="Title"></label>
                                                            <input asp-for="Title" type="text" id="Title" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.Title)" required />
                                                            <span asp-validation-for="Title" class="text-danger fontsize14"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr />

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label asp-for="Description"></label>
                                                            <textarea asp-for="Description" id="content" rows="17" cols="70"
                                                                  data-val-maxlength-max="5000"
                                                                  data-val-maxlength="The field Description must be a string or array type with a maximum length of '5000'.">
                                                                            </textarea>
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="Description" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr />

                                                <div class="row pb-2">
                                                    <div class="col-sm-2 imgUp">
                                                        <div class="imagePreview"></div>
                                                        <label class="btn btn-primary">
                                                            Upload
                                                            <input type="file" class="uploadFile img" asp-for="ImageSlider" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                                        </label>
                                                    </div>
                                                    @*<i class="fa fa-plus imgAdd"></i>*@
                                                </div>

                                                <div class="form-actions mt-0 pb-0">
                                                    <a asp-area="Admin" asp-controller="Slider" asp-action="Index" class="btn btn-glowbtn btn-outline-warning btn-min-width mr-1">
                                                        <i class="ft-corner-down-right"></i>
                                                        بازگشت
                                                    </a>
                                                    <button id="submit" class="btn btn-outline-success btn-min-width" value="upload">
                                                        <i class="la la-check-square-o"></i>
                                                        ذخیره
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>

    @section Scripts
    {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('content');
    </script>

    <script>
        $(function() {
            $(document).on("change", ".uploadFile", function() {
                var uploadFile = $(this)

                console.log(this.result)

                var files = !!this.files ? this.files : []

                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test(files[0].type)) // only image file
                {
                    var reader = new FileReader() // instance of the FileReader

                    reader.readAsDataURL(files[0]) // read the local file

                    reader.onloadend = function() // set image data as background of div
                    {
                        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                    }
                }

            });
        });

    </script>

    @{
        await Html.RenderPartialAsync("~/Areas/Admin/Views/Shared/_ValidationScriptsPartial.cshtml");
    }
    }

